@import url('font.css');

:root{
    --white : #ffffff;
    --black : #454656;
    --grey : #E3E4F4;
    --pink : #E0B6C1;
    --dark-black : #000000;
    --bs-info: #02c1d5;
    --bs-info-rgb: 2,193,213;
}

/* body{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
    height: 2px;
    }
    
::-webkit-scrollbar-track {
    background: #f1f1f100; 
    border-radius: 10px;
    }

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    }

::-webkit-scrollbar-thumb:hover {
    background: #555; 
    } */

.m-auto{
    margin-left: auto;
    margin-right: auto;
}

.center {
    transform: translate(-50%, -50%);
}

.rotate-45 {
    transform: rotate(45deg);
}

.center-rotate-45 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.l50{
    left : 50%;
}
.t50{
    top:50%;
}
.r50{
    right : 50%;
}
.b50{
    bottom: 50%;
}


.pointer {
    cursor: pointer;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.btn{
    border-radius: 20px !important;
    padding : 7px 30px !important;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.t-0{
    top : 0;
}

.b-0{
    bottom : 0;
}

.l-0{
    left : 0;
}

.r-0{
    right : 0;
}

.text-justify {
    text-align: justify;
}

.line {
    width: 200px;
    height: 5px;
    border-radius: 5px;
    margin: 15px auto;
}

.line .square{
    height : 15px;
    width : 15px;
    border: 5px solid white;
}


.icon{
    height : 30px;
    width: 30px;
}

.icon img{
    height : 100%;
    width : 100%;
}