@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
    background-color: #efefef;
    color: #444;
    font-family: Papyrus, "Montserrat", "Lucida Handwriting", sans-serif, 'Courier New', Courier, monospace ;
    margin: 0;
    padding: 0;
}

.header{
    position: sticky;
    top: 0;
    background-color: #444;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 5;
}
.name{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 40px;
    color: #efefef;
    padding-top: 10px 0;
}

.initials{
    font-size: 45px;
}

.headerSmall{
    font-size: 12px;
    text-align: right;
    margin-right: 40px;
    color: #efefef;
    
}

.navigation{
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.burger-bar{
    padding: 10px 0 0 10px;    
}


.burger-bar:hover{
    cursor: pointer;
}

.burger{
    height: 4px;
    width: 25px;
    display: flex;
    flex-direction: row;
    background-color: #efefef;
    margin: 4px;
}

#burger-close{
    color: #efefef;
    font-size: 55px;
    width: 50px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;    
    display: none;
}

.menuItems{
    display: none;    
}
.menuItems li{
    list-style: none;
}

.menuItems li a{
    padding: 0 20px ;
}

.menuItems li a{
    text-decoration: none;
    color:#444;
}

.navigation li a:hover{
    background-color: #444;
    color: #efefef;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease;
}

.sideNav{
    width: 50px;
    height: 50px;    
    background-color: #444;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: 0.3s ease;
    z-index: 10;
}
.sideNav a{
    margin-top:150px;
}
.sideNav a img{
    width: 30px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    z-index: 10;
}

.sideNav a .active{
    border-left: 5px solid #efefef;
}

section{
    margin-left: 0;
    transition: 0.5s ease-in-out;
}

.home-text h1{
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: left;
    flex-direction: column;
    padding: 0 20px;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1.5s;
}

.home-text h1:nth-child(1){
    animation-delay: 1.5s;
}
.home-text h1:nth-child(2){
    animation-delay: 2.5s;
}
.home-text h1:nth-child(3){
    animation-delay: 3.5s;
}

.home-text h1 span{
    position: absolute;
    top: 0;
    left : 0;
    height: 100%;
    width: 0;
    background-color: #444;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

.home-text h1:nth-child(1) span{
    animation-delay: 1s;
}
.home-text h1:nth-child(2) span{
    animation-delay: 2s;
}
.home-text h1:nth-child(3) span{
    animation-delay: 3s;
}

.actionButtonHolder{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.actionbutton{
    text-decoration: none;
    color: #444;
    padding: 10px 20px;
    border: 1px solid #444;
    border-radius : 5px;
    margin: 30px 10px!important;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.actionbutton:hover{
    cursor: pointer;
    background-color: #444;
    color: #efefef;
    transition: 0.5s ease-in-out;
}



.section-wrapper{
    padding: 10px;
}
.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 30px auto;
}

.section-description{
    text-align: justify;
    text-indent: 30px;
    margin-bottom : 20px;
}

.card-wrapper{
    border : 2px solid #444;
    padding: 0;
    box-shadow: 10px 10px 20px #888;
    margin: 20px;
    border-radius: 5px;
}
.card-title{
    background-color: #444; 
    color:#efefef;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    line-height: 40px;
    display: flex;
    flex-direction: row;
}

.card-icon{
    height: 20px;    
    padding: 10px 0;
    margin-right: 10px;
    
}

.card-title-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;  
}
.card-description{
    padding: 10px;
}

.services-list{
    flex-direction: column;
    flex-basis: 25%;
    display: flex;    
}

.services-list-first,
.services-list-second{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.folder-container{
    display: flex;
    flex-direction: row;
}
.folder{
    width: 200px;
    height: 50px;     
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.folder-active{
    background-color: #bbb;   
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.folder:hover{
    background-color: #bbb;   
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s ease-in-out;
}

.folder-icon{    
    height: 30px;
    padding: 10px;
}

.folder-name{
    line-height: 50px;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

.tab{
    width: 100%;    
}
.tab-title{
    padding: 5px 0;
    border-bottom: 1px solid #444;
}
.tab-name{
    font-weight: bold;
    padding: 5px 20px;
}
.tab-name:hover{
    cursor:pointer;
}

.tab-title .active{
    color: #efefef;
    background-color: #444;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab .tab-body .inactive{
    display: none;
}

.tab-wrapper{
    padding: 20px;
}

.tab-card{
    width: 100%;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 10px 20px #888888;
}

.tab-card-title{
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px dashed #444;
}

.tab-card-description{
    padding: 10px;
}

.contact-list{
    flex-direction: column;
    flex-basis: 25%;
    display: flex;
    margin: 0;

}

.contact-list-first,
.contact-list-second{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.contact-card-wrapper{
    width: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #444;
    margin: 10px 0;
    padding: 10px 0; 
    margin-left: auto;
    margin-right: auto;
}

.contact-card-wrapper:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.contact-card-logo{
    height: 50px;
    padding: 20px;
}
.contact-card-logo img{
    height: 100%;
    
}

.contact-list a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

.contact-card-link,
.contact-card-description{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    word-wrap: break-word;
}

#footer{
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: #444;
    text-align: center;
    color: #efefef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (min-width: 645px) {
    .menuItems{display: flex;}
    .services-list
    {
        flex-direction: row;
    }
    .contact-list{
        flex-direction: row;
    }

}

@media screen and (min-width: 1200px) {
    .services-list,
    .services-list-first,
    .services-list-second{
        flex-direction: row;
    }
    .contact-list,
    .contact-list-first,
    .contact-list-second{
        flex-direction: row;
    }

  }



  @keyframes text_reveal_box{
      50%{
          width: 100%;
          left: 0;
      }
      100%{
          width: 0;
          left : 100%;
      }
  }

  @keyframes text_reveal{
      100%{
          color: #444;
      }
  }