@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
    background-color: #efefef;
    color: #444;
    font-family: Papyrus, "Lucida Handwriting", sans-serif, 'Courier New', Courier, monospace ;
}

.header{
    position: sticky;
    top: 0;
    background-color: #efefef;
    z-index: 1;
}
.name{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}

.initials{
    font-size: 45px;
}

.navigation{
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.burger-bar{
    padding: 10px 0 0 10px;
    position: absolute;
    top: 0;
    left : 0;
}

.burger-bar:hover{
    cursor: pointer;
}

.burger{
    height: 4px;
    width: 25px;
    display: flex;
    flex-direction: row;
    background-color: #444;
    margin: 2px;
}

.menuItems{
    display: none;    
}
.menuItems li{
    list-style: none;
}

.menuItems li a{
    padding: 0 20px ;
}

.menuItems li a{
    text-decoration: none;
    color:#444;
}

.navigation li a:hover{
    background-color: #444;
    color: #efefef;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease;
}

.homeImageHolder{
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 10px;
    position: relative;
}

.homeImage{
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    
    
}

.home-text{
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.section-wrapper{
    padding: 10px;
}
.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 30px auto;
}

.section-description{
    text-align: justify;
    text-indent: 30px;
}

.card-wrapper{
    border : 2px solid #444;
    padding: 0;
    box-shadow: 10px 10px 20px #888;
    margin: 20px;
    border-radius: 5px;
}
.card-title{
    background-color: #444; 
    color:#efefef;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.card-description{
    padding: 10px;
}

.services-list{
    flex-direction: column;
    flex-basis: 25%;
    display: flex;    
}

.services-list-first,
.services-list-second{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.tab{
    width: 100%;    
}
.tab-title{
    padding: 5px 0;
    border-bottom: 1px solid #444;
}
.tab-name{
    font-weight: bold;
    padding: 5px 20px;
}
.tab-name:hover{
    cursor:pointer;
}

.tab-title .active{
    color: #efefef;
    background-color: #444;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab .tab-body .inactive{
    display: none;
}

.tab-wrapper{
    padding: 20px;
}

.tab-card{
    width: 100%;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 10px 20px #888888;
}

.tab-card-title{
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px dashed #444;
}

.tab-card-description{
    padding: 10px;
}

.contact-list{
    flex-direction: column;
    flex-basis: 25%;
    display: flex;
    margin: 0;

}

.contact-list-first,
.contact-list-second{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.contact-card-wrapper{
    width: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #444;
    margin: 10px 0;
    padding: 10px 0; 
    margin-left: auto;
    margin-right: auto;
}

.contact-card-wrapper:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.contact-card-logo{
    height: 50px;
    padding: 20px;
}
.contact-card-logo img{
    height: 100%;
    
}

.contact-list a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

.contact-card-link,
.contact-card-description{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    word-wrap: break-word;
}

#footer{
    height: 100px;
    width: 100%;
    line-height: 100px;
    background-color: #444;
    text-align: center;
    color: #efefef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (min-width: 645px) {
    .menuItems{display: flex;}
    .burger{display: none;}
    .burger-bar{padding: 0;}
    .services-list
    {
        flex-direction: row;
    }
    .contact-list{
        flex-direction: row;
    }

}

@media screen and (min-width: 900px) {
    .services-list,
    .services-list-first,
    .services-list-second{
        flex-direction: row;
    }
    .contact-list,
    .contact-list-first,
    .contact-list-second{
        flex-direction: row;
    }

  }