@import url('font.css');

:root{
    --white : #eeeeee;
    --black : #1d2829;
    --blackest : #000000;
    --secondary : #8f8f8f;
    --text-grey : #cfcfcf;
    --turquoise : #7ce9e6;
    --danger : #be9292;

    --white-rgb : 255,255,255;
    --black-rgb : 29,40,41;
    --blackest-rgb : 0,0,0;    
    --secondary-rgb : 143,143,143;
    --text-grey-rgb : 207, 207, 207;
    --turquoise-rgb : 124,233,230;

    --breakpoint : 768;
}

html {
  scroll-behavior: smooth;
}

body{
    background: rgb(var(--black-rgb));
    background: -moz-linear-gradient(90deg, rgba(var(--black-rgb),1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(var(--black-rgb),1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(var(--black-rgb),1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(var(--black-rgb),1) 100%);
    background: linear-gradient(90deg, rgba(var(--black-rgb),1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(var(--black-rgb),1) 100%);    
    color : var(--white);
    position : relative;
    overflow: auto;
}

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Arial", sans-serif;
}

.monospace{
    font-family: monospace !important;
}

.relative{
    position: relative;
}

.absolute{
    position : absolute;
}

.show{
    display : inline-block;
    transition: 1s;
}

.hide{
    display: none !important;
    transition: 1s;
}

a{
    text-decoration: none;
    color : var(--white);
}


/*=====START BOOTSTRAP STYLING=====*/

.text-danger{
    color : var(--danger);
}

.text-success{
    color: var(--turquoise);
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.text-center{
    text-align: center;
}
.w-100{
    width: 100%;
}

.justify-content-center{
    justify-content: center;
}

.m-auto{
    margin-left: auto;
    margin-right: auto;
}

[class*="col-"] {
    padding: 0 15px;
    box-sizing: border-box;
}

.col-1  { flex: 0 0 8.33%;  max-width: 8.33%; }
.col-2  { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3  { flex: 0 0 25%;    max-width: 25%; }
.col-4  { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5  { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6  { flex: 0 0 50%;    max-width: 50%; }
.col-7  { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8  { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9  { flex: 0 0 75%;    max-width: 75%; }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%;   max-width: 100%; }


/* Small devices (≥576px) */
@media (min-width: 576px) {
  .col-sm-1  { flex: 0 0 8.33%;  max-width: 8.33%; }
  .col-sm-2  { flex: 0 0 16.66%; max-width: 16.66%; }
  .col-sm-3  { flex: 0 0 25%;    max-width: 25%; }
  .col-sm-4  { flex: 0 0 33.33%; max-width: 33.33%; }
  .col-sm-5  { flex: 0 0 41.66%; max-width: 41.66%; }
  .col-sm-6  { flex: 0 0 50%;    max-width: 50%; }
  .col-sm-7  { flex: 0 0 58.33%; max-width: 58.33%; }
  .col-sm-8  { flex: 0 0 66.66%; max-width: 66.66%; }
  .col-sm-9  { flex: 0 0 75%;    max-width: 75%; }
  .col-sm-10 { flex: 0 0 83.33%; max-width: 83.33%; }
  .col-sm-11 { flex: 0 0 91.66%; max-width: 91.66%; }
  .col-sm-12 { flex: 0 0 100%;   max-width: 100%; }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .col-md-1  { flex: 0 0 8.33%;  max-width: 8.33%; }
  .col-md-2  { flex: 0 0 16.66%; max-width: 16.66%; }
  .col-md-3  { flex: 0 0 25%;    max-width: 25%; }
  .col-md-4  { flex: 0 0 33.33%; max-width: 33.33%; }
  .col-md-5  { flex: 0 0 41.66%; max-width: 41.66%; }
  .col-md-6  { flex: 0 0 50%;    max-width: 50%; }
  .col-md-7  { flex: 0 0 58.33%; max-width: 58.33%; }
  .col-md-8  { flex: 0 0 66.66%; max-width: 66.66%; }
  .col-md-9  { flex: 0 0 75%;    max-width: 75%; }
  .col-md-10 { flex: 0 0 83.33%; max-width: 83.33%; }
  .col-md-11 { flex: 0 0 91.66%; max-width: 91.66%; }
  .col-md-12 { flex: 0 0 100%;   max-width: 100%; }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .col-lg-1  { flex: 0 0 8.33%;  max-width: 8.33%; }
  .col-lg-2  { flex: 0 0 16.66%; max-width: 16.66%; }
  .col-lg-3  { flex: 0 0 25%;    max-width: 25%; }
  .col-lg-4  { flex: 0 0 33.33%; max-width: 33.33%; }
  .col-lg-5  { flex: 0 0 41.66%; max-width: 41.66%; }
  .col-lg-6  { flex: 0 0 50%;    max-width: 50%; }
  .col-lg-7  { flex: 0 0 58.33%; max-width: 58.33%; }
  .col-lg-8  { flex: 0 0 66.66%; max-width: 66.66%; }
  .col-lg-9  { flex: 0 0 75%;    max-width: 75%; }
  .col-lg-10 { flex: 0 0 83.33%; max-width: 83.33%; }
  .col-lg-11 { flex: 0 0 91.66%; max-width: 91.66%; }
  .col-lg-12 { flex: 0 0 100%;   max-width: 100%; }
}

/* Form Styling */

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    margin-left : 10px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white) !important;
    background-color: var(--black) !important;
    border: 1px solid var(--secondary) !important;
    border-radius: 0.25rem;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.form-control:focus {
    border-color: var(--text-grey);
    box-shadow: 1px 1px 20px rgba(var(--text-grey-rgb));
}

/* Error State */
.is-invalid {
    border-color: var(--danger);
    padding-right: 2.25rem;
}

.invalid-feedback {
    color: var(--danger);
    font-family: monospace;
    font-size: 1em;
    margin: 5px 0 0 10px;
    display: none;
}

.is-invalid + .invalid-feedback {
    display: block;
}

.btn{
    padding : 0.5rem 2rem;
    font-size: 1rem;
    background-color: rgba(var(--secondary-rgb), 0.4);
    border : 1px solid rgba(var(--secondary-rgb),0.5);
    border-radius: 50px;
    cursor : pointer;
    color : var(--white);
    transition : 0.3s;
}

.btn:disabled,
.btn.disabled {
    cursor: no-drop;
    pointer-events: none;
    background-color: rgba(var(--secondary-rgb), 0.1);
    border-color: rgba(var(--secondary-rgb), 0.3);
    color: rgba(var(--white-rgb), 0.5);
}

.btn:not(:disabled):not(.disabled):hover {
    background-color: rgba(var(--secondary-rgb), 0.6);
}

/*=====END BOOTSTRAP STYLING=====*/



/*=====LAYOUT=====*/

.appbar {
    height: 60px;
    width: 100vw;
    position : fixed;
    top : 0;
    z-index: 2;
}

.content {
    margin-top : 60px;
    width: 100%;
}

/*=====BACKDROP=====*/
.backdrop{
    position: absolute;
    top : -60px;
    left : 0;
    width : 100%;
    height : calc(100% + 60px);
    background-color: rgb(var(--black-rgb), 0.9);
    z-index : 3;
}


/*=====NAVIGATION=====*/
.logo{
    height : 100%;
}

.logo-image{
    height : 100%;
    padding : 10px;
}

/*=====MENU=====*/
.btn-menu{
    position : fixed;
    bottom : 50px;
    top : auto;
    right : 30px;
    padding : 0 !important;
    height: 60px;
    width: 60px;
    border-radius: 50% !important;   
    z-index: 100; 
}

@media (min-width: 768px) {
    .btn-menu{
        top : 20px;
        bottom : auto;
    }
}

.hamburger-holder{
    width : 100%;
    height : 100%;
    background-color: transparent;
    top : 0;
    left : 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash{
    position: absolute;
    width : 60%;
    height : 4px;
    background-color: var(--white);
    margin: 3px 0;
    border-radius: 2px;
    transition: top 0.3s ease, bottom 0.3s ease, transform 0.3s ease, opacity 0.3s ease;     
}
.dash:nth-child(1) {
    top: 25%
}

.dash:nth-child(2) {
    top: 40%;
}

.dash:nth-child(3) {
    top: 55%
}

.btn-menu.open .dash:nth-child(1) {
    transform: rotate(45deg);
    top: 40%; 
}

.btn-menu.open .dash:nth-child(2) {
    opacity: 0;
}

.btn-menu.open .dash:nth-child(3) {
    transform: rotate(-45deg);
    top: 40%
}

/*=====MENU ITEMS=====*/

.spinner-container{
    position: absolute;
    top : -250px;
    right : 20px;
    height : 300px;
    width: 300px;
    background-color: transparent;
    
}

@media (min-width: 768px) {
    .spinner-container{
        top : 20px;
    }
}

.spinner-item-list {
    --radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
}

.spinner-item {
    position: absolute;
    width: 100px;
    height: 100px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform:
        rotate(calc(360deg * var(--index) / var(--quantity)))
        translateX(var(--radius))
        rotate(calc(-360deg * var(--index) / var(--quantity)))
        translate(-50%, -50%);
}


.spinner-item .appear {
  animation: appear 0.4s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spinner-item:hover{
    .spinner-item-icon{
        font-size: 40px !important;
        transition: 0.3s;
    }
}



.spinner-item.animate {
  animation: popIn 0.4s ease-in-out;
}


.spinner-item-icon {
    font-size: 30px !important;
    color: var(--white);
}

.spinner-item span{
    font-size: 10px;
    padding : 5px;
}



/*===== SECTION-GRID ======*/

.section-container{
    width : 100%;
    margin-top : 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title{
    margin-bottom: 5%;
    font-size: 5rem;
    background-image: linear-gradient(rgb(133,133,133),rgb(255,255,255));
    color: transparent;
    background-clip: text;
}

@media (max-width: 768px) {
    .section-title{
        font-size: 3rem;
    }
}

.grid-container{
    position: relative;
    display : grid;
    height : auto;
    width : 90%;
    gap: 1.5rem;
}

.card{
    background: linear-gradient(145deg, rgba(var(--black-rgb), 0.14), rgba(var(--black-rgb), 0.7));
    border : 1px solid rgba(var(--white-rgb), 0.1);
    border-radius: 24px;
    padding : 2rem;
    transition : transform 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease
    ;
    position : relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto  !important;
    }

    .g1,
    .g2,
    .g3,
    .g4 {
        grid-column: auto  !important;
        grid-row: auto  !important;
    }
}

.card:hover{
    border-color: transparent;
    box-shadow: 0 20px 30px rgba(var(--black),0.8);
    transform: translateY(-5px);
}

.card::before{
    content: "";
    position: absolute;
    inset : 0 0 0 0;
    background: radial-gradient(circle at var(--x) var(--y), rgba(var(--turquoise-rgb),0.1), transparent 40%);
    opacity : 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card:hover::before{
    opacity: 1;
}


.card-title{
    font-size : 2rem;
    font-weight: 300;
    margin : 4rem 0 2rem 0;
    color : var(--white);
}

.card p{
    color : var(--text-grey);
    line-height : 1.6;
    margin-top: 2rem;
    max-width: 30rem;
}

.grid-container .card-bg-image{
    position: absolute;
    inset : -1% -1% -1% -1%;
    width : 110%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
}


#buffer{
    height : 200px;
    width : 100%;
    background-color: transparent;
}


/*=====SERVICES=====*/
#services .grid-container{
    grid-template-columns: 4fr 4fr 5fr; 
    grid-template-rows: repeat(2, 1fr);
}

#services .g1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

#services .g2 {
    grid-column: 3;
    grid-row: 1 / 3;
}

#services .g3 {
    grid-column: 1;
    grid-row: 2;
}

#services .g4 {
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 768px) {
    #services .g1 {
        grid-row: 1 !important;
    }
    #services .g2 {
        grid-row: 4 !important;
    }
    #services .g3 {
        grid-row: 2 !important;
    }
    #services .g4 {
        grid-row: 3 !important;
    }
}

/*=====SERVICES QUERY*/
.sql-query-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #2d2d2d;
    margin-top: 50px;
    padding : 20px 0;
    box-shadow: 0 20px 20px rgba(var(--blackest-rgb),0.5);
    border-left: 4px solid var(--turquoise);  
}

.sql-query {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2d2d2d;
    margin : 0;
    padding-left : 10px;
    color: var(--white);
    letter-spacing: 3px;
}
.cursor-animated{
    color : var(--white);
    font-size: 30px;
    animation: typing 500ms infinite;
}

@keyframes typing {
    from { opacity: 0 }
    to { opacity: 1 }
  }

.db-table-wrapper{
    transition: 0.5s;
}
.db-table {
    border-collapse: collapse;
    margin: 50px auto 0 auto;
    width: 80%;
    background-color: #2d2d2d;
    color: var(--white);
    box-shadow: 0 20px 20px rgba(var(--blackest-rgb),0.5);
}

.db-table td,
.db-table th {
    border: 1px solid #444;
    padding: 8px 12px;
    text-align: left;
}

.db-table th {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
}

.db-table tr:nth-child(even) {
    background-color: #252526;
}

.db-table tr:hover {
    background-color: #3a3d41;
}

.db-table-wrapper .message{
    font-style: italic;
    text-align: right;
    font-family: monospace;
    margin-top : 15px;
}



/*=====CONTACT-----*/
#contact .grid-container{
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: repeat(1, 1fr);
}

#contact .g1 {
    grid-column: 1;
    grid-row: 1;
}

#contact .g2 {
    grid-column: 2;
    grid-row: 1;
}
#contact .g3 {
    grid-column: 1/-1;
    grid-row: 2;
}

@media (max-width: 1200px) {
    #contact .grid-container{
    grid-template-columns: 1fr; 
    grid-template-rows: auto  !important;
}
#contact .g1,
#contact .g2,
#contact .g3 {
        grid-column: auto  !important;
        grid-row: auto  !important;
    }
}

.map-container {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.map-container iframe,
.map-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.map-overlay {
    background: rgba(var(--black-rgb), 0);
    pointer-events: none;
}
.address
,.email
,.phone{
    margin-bottom : 20px;
    align-items: top;
    justify-content: start;
    line-height: 1.5;
    font-size: 16px;
    color : var(--white);
}
.address:hover
,.email:hover
,.phone:hover{
    font-size: 18px;
    cursor: pointer;
}

.contact-icon{
    margin-right : 20px;
    font-size: 30px;
}

#dynamicForm{
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    #contact .g3{
        padding : 0.5rem;
    }

    #contact .g3 .card-title{
        padding : 0 2rem;
    }

    #contact .btn-holder{
        margin-bottom : 30px;
        text-align: center;
    }
    
}

